<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Gartensea page</title>
  <meta name="image" content="/media/{{ logo }}">
  <meta name="description" content="Gartensea page">
  <link rel="icon" type="image/x-icon" href="/media/{{ logo }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,300&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&amp;display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
<div id="app">
	<div id="last-article-id">{{ last_article_id }}</div>
	<div id="last-post-id">{{ last_post_id }}</div>
</div>
</body>
</html>